In [1]:
x=input()

2

In [2]:
x=input("what is todays date")

what is todays date14-12-2018

In [5]:
name=input("what s your name")
bday=input("what is ur birth date")
print(name,bday)

what s your namebhawna
what is ur birth date5
bhawna 5

In [10]:
#print ur name in different rows
name=input("enter ur name")
for i in range(len(name)):
    print(name[i])

enter ur nameBhawna
B
h
a
w
n
a

In [20]:
#volume of sphere
from math import pi
a=input("enter diameter")
r=int(a)/2
volume=(4/3)*(pi)*(r**3)
print(volume)

enter diameter2
4.1887902047863905

In [30]:
#consider numbers between 2000,3200 and print those numbers which are devisible by 7 but not by 5.
#=range(2000,3200)
l=[]
for i in range(2000,3200):
    if i%7 ==0 and i%5 !=0: 
        l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
#reverse your name
a= input("enter ur name")
print(a[::-1])

enter ur namebhawna
anwahb

In [12]:
for i in range(4):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *

In [14]:

for i in range(7):
    
    for j in range(0, i+1):
        print("* ",end="")
    else print(::,-1)
    print() 
a=4
for k in range(a-1, 0):
        print("*",end="")
        
print()

*
* *
* * *
* * * *

In [4]:
#draw the stars pattern
for i in range(4):
    for j in range(0, i+1):
        print("* ",end="") 
    print() 
    
for i in range(0,3):
    for k in range(3,i,-1):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [22]:
#print all prime numbers in range 1000
l=[]
for i in range(1,1000):
    c=0
    for j in range(2,i):
        if i%j==0:
            c=c+1
    if c==0:
        l.append(i)
 
l

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [31]:
#wap that prints intergers from 1 to 100 but from multiples of 3 print ur name instead of number, multiple of 5 print ur surname, no. tat are multiple of both 3 &5 print ur complete name.
#l[]
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("BK")
    elif i%3==0:
        #l.append(i)
        print("Bhawna")
    elif  i%5==0:
        #l.append(i)
        print("K")
    else: 
        print(i)

1
2
Bhawna
4
K
Bhawna
7
8
Bhawna
K
11
Bhawna
13
14
BK
16
17
Bhawna
19
K
Bhawna
22
23
Bhawna
K
26
Bhawna
28
29
BK
31
32
Bhawna
34
K
Bhawna
37
38
Bhawna
K
41
Bhawna
43
44
BK
46
47
Bhawna
49
K
Bhawna
52
53
Bhawna
K
56
Bhawna
58
59
BK
61
62
Bhawna
64
K
Bhawna
67
68
Bhawna
K
71
Bhawna
73
74
BK
76
77
Bhawna
79
K
Bhawna
82
83
Bhawna
K
86
Bhawna
88
89
BK
91
92
Bhawna
94
K
Bhawna
97
98
Bhawna
K

In [38]:
#print everyword in sentence that has even number of letters. 
#for i in input("enter a sentence")
i=input("enter a sentence")

l=list(i.split())
for i in l:
    if len(i)%2==0:
        print(i)

enter a sentencebh hjj lskdjf
bh
lskdjf